# Django
SECRET_KEY=coloque-uma-chave-secreta-aqui-use-django-generate-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# URL do painel admin (NÃO use "admin/")
ADMIN_URL_PATH=painel-secreto/

# Segurança (ativar em produção)
SECURE_SSL_REDIRECT=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
